<?xml version="1.0"?>

<launch>
 <arg name="map_file" default="/home/tranhieu/catkin_ws/src/map/map.yaml"/>
 <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)">
  <param name="frame_id" value="map"/>
  <param name="yaml_filename" value="$(arg map_file)"/>
 </node>
</launch>
