<?xml version="1.0"?>
<launch>
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
    <param name="magnetic_declination_radians" value="0.1589"/>
    <param name="yaw_offset" value="1.57079632679"/>
    <param name="zero_altitude" value="true"/>

    <param name="broadcast_cartesian_transform" value="true"/>
    <param name="publish_filtered_gps" value="true"/>
    
    <param name="use_odometry_yaw" value="false"/>
    <param name="wait_for_datum" value="false"/>
    
    <remap from="odometry/filtered" to="odometry/filtered/global"/>
    <remap from="imu/data" to="imu/data"/> 
    <remap from="gps/fix" to="gps/fix"/>
    <remap from="odometry/gps" to="odometry/gps"/> 
    <remap from="gps/filtered" to="gps/filtered"/>
  </node>

</launch>
